// set up the first simulation
// this is a no migration model
// there is no selection
// neutral mutations are added after the fact via tree sequence recording


initialize() {
	// initialize tree sequence recording
	initializeTreeSeq();
	
	// all mutations are neutral and added later
	initializeMutationRate(0);
	
	// m1 mutation type: neutral (doesn't matter b/c mutation rate is zero)
	initializeMutationType("m1", 0.5, "f", 0);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// uniform chromosome of length 10 kb with uniform recombination
	initializeGenomicElement(g1, 0, 9999);
	initializeRecombinationRate(recrate);
}

// create a population of npop individuals then split into two populations
1 early() {
	community.rescheduleScriptBlock(s1, asInteger(divtime), asInteger(divtime));
	sim.addSubpop("p1", npop);
	sim.addSubpopSplit("p2", npop, p1); 
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
}

s1 13750 late() {
	cat("Final random seed: " + getSeed() + "\n");
	name = "nomig_neutral_scaled_"+rep+".trees";
	sim.treeSeqOutput(name);
}

